<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../VIEWS/CSS/style.css">
    <title>Compra Premiada - Campanha de Natal 2022</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1>Logo</h1>
            </div>

            <div class="nav-list">
                <ul>
                    <li class="nav-i"><a href="../index.html" class="nav-lnk">Home</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="box-example">
            <p>Nas compras na "LOJA" no valor de R$100,00 ou mais, <br> você poderá cadastrar o seu cupom aqui no site e participar do nosso sorteio e <br> concorrer a um Jeep Renegade, Longitude 1.3 tração 4X4, suspensão elevada e um design aventureiro… <br> atualmente no valor de R$ 130.000,00.</p><br>
            <p>Corre porque essa campanha de Natal vai até o dia 24/12/2022. </p> <br>
            <p>Vai perder essa chance?</p>
        </div>
        <div id="text-participate">
            <p>Para participar é fácil.</p>
            <p>Acesse o site.</p>
            <p>Clique em login </p> 
            <p>Caso ainda não possua cadastro, clique no link abaixo: "É seu primeiro cupom? Clique aqui".</p> <br>
            <p>Caso já possua, basta colocar seu CPF e a sua senha.</p>
            <p>Preencha os dados do formulário e clique no botão SALVAR.</p> <br><br>
            <p>Boa sorte!!!</p>
        </div>
</body>
</html>